/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* Pre Styles */

:root {
    /* font-size: ; */
    font-size: calc(62.5% + 0.350625vw);
    /* font-family */
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    display: block;
    transition: all .5s;
    color: #3bb4fa;
}

a:hover {
    text-decoration: underline;
    color: #007BC2;
}

a,
button {
    cursor: pointer;
}

img {
    width: 100%;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

/* Page Styling */

section {
    width: 100%;
    /* padding: 2vw; */
}

#hero {
    background: linear-gradient(rgb(13, 16, 12, 0.7), rgba(0, 0, 0, 0.3)), url(https://github.com/daniel-agbonifo/lobbycre/blob/master/Assets/hero%20image.png?raw=true) top;
    /* padding: 40px 2vw; */
    /* height: 80vh; */
    position: relative;
}

#hero div {
    width: 40%;
    min-width: 400px;
}

#hero .left {
    /* padding: 3vw 0; */
}

#hero .left * {
    margin-block: 1vw;
}

#hero .left img {
    width: 50%;
    max-width: 200px;
}

#hero .left h1 {
    font-weight: 400;
    color: white;
}

#hero .left a {
    padding: 12px 24px;
    background-color: white;
    border-radius: 30px;
    font-size: 1.2rem;
    width: fit-content;
}

#hero .right {
    margin-top: -50px;
    position: relative;
    height: 100%;
}

#hero .right img {
    width: 100%;
    z-index: 5;
    position: relative;
    /* max-width: 250px; */
    transform: translateY(50px);
}

#hero .whitespace {
    height: calc(3vw + 2rem);
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    z-index: 0;
    /* margin-top: 5vw; */
}

#details {
    padding: 2vw 1vw;
}

#details div {
    width: 35%;
    padding: 1vw;
    min-width: 350px;
}

#details .text * {
    margin-block: 1vw;
}

#details .form {
    padding-block: 2vw;
}

#details .form h1 {
    margin-bottom: 1vw;
}


/* media screen */

@media screen and (max-width: 1100px) {
    #hero .right {
        margin-top: calc(-50px + -1rem);
    }

    #hero .right img {
        transform: translateY(calc(50px + 1rem));
    }

    #hero .whitespace {
        bottom: -1rem;
    }
}

@media screen and (max-width: 1050px) {

    #hero div,
    #details div {
        width: 42%;
    }

    #hero .right {
        margin-top: calc(-50px + -2rem);
    }

    #hero .right img {
        transform: translateY(calc(50px + 2rem));
    }

    #hero .whitespace {
        bottom: -2rem;
    }

    #details {
        padding-top: 4vw;
    }
}

@media screen and (max-width: 980px) {
    #hero .right {
        margin-top: calc(-50px + -3rem);
    }

    #hero .right img {
        transform: translateY(calc(50px + 3rem));
    }

    #hero .whitespace {
        bottom: -3rem;
    }
}

@media screen and (max-width: 962px) {

    #hero .left,
    #details div {
        width: 45%;
    }

    #hero .left {
        padding-left: 3vw;
    }

    #hero .right {
        margin-top: calc(-50px + -4rem);
    }

    #hero .right img {
        transform: translateY(calc(50px + 4rem));
    }

    #hero .whitespace {
        bottom: -4rem;
    }

    #details {
        padding-top: 6vw;
    }
}

@media screen and (max-width: 800px) {
    #hero {
        padding: 3vw 0;
    }

    #hero div,
    #details div {
        min-width: 80% !important;
        text-align: center;
    }

    #hero .left a {
        margin: 2vw auto;
    }

    #hero .whitespace {
        height: calc(3vw + 2rem);
        width: 100% !important;
        background-color: white;
        position: absolute;
        bottom: 0;
        z-index: 0;
        /* margin-top: 5vw; */
    }
}

@media screen and (max-width: 600px) {
    #details {
        padding-top: 10vw;
    }
}

@media screen and (max-width: 450px) {
    #hero .right {
        margin-top: calc(-50px + -4rem);
    }

    #hero .right img {
        transform: translateY(calc(50px + 4rem));
    }

    #hero .whitespace {
        bottom: -4rem;
    }

    #details {
        padding-top: 15vw;
    }
}

@media screen and (max-width: 360px) {
    #details {
        padding-top: 20vw;
    }
}